torch==2.6.0
torchvision
diffusers==0.30.1
gym==0.21.0
dm_control==1.0.8
transformers==4.40.2
wandb
moviepy
matplotlib
stable-baselines3
tensorboard==2.16.2
protobuf==3.19.6
wrapt
urllib3<2
cython==0.29.33
xformers
numpy==1.24.3
decord==0.6.0
einops==0.7.0
einops_exts==0.0.4
tqdm==4.66.1
ema_pytorch==0.2.3
accelerate==0.23.0
pytorch_fid==0.3.0
pynvml==11.5.0
joblib==1.1.1
gdown
imageio[ffmpeg]
omegaconf
safetensors
gradio
git+https://github.com/hassony2/torch_videovision
jupyter
triton
peft==0.12.0
git+https://github.com/Farama-Foundation/Metaworld.git@18118a28c06893da0f363786696cc792457b062b
mujoco==2.3.1
mujoco.py==2.3.2.14